<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="crypto.soft.cryptongy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".utils.CoinApplication"
        android:allowBackup="true"
        android:icon="@drawable/about_us_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".feature.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.aboutUs.AboutUsActivity" />
        <activity android:name=".feature.coinHome.CoinHomeActivity" />
        <activity android:name=".feature.donate.DonateActivity" />
        <activity android:name=".feature.setting.SettingActivity" />

        <service
            android:name=".feature.trade.conditional.ConditionalService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".feature.alert.AlertService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".feature.alert.broadCastTicker"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".feature.trade.conditional.ConditionalReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".feature.account.AccountActivity" />
        <activity android:name=".feature.alert.AlertActivity"></activity>
    </application>

</manifest>