<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="crypto.soft.cryptongy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="crypto.soft.cryptongy.utils.CoinApplication"

        android:allowBackup="true"
        android:icon="@drawable/about_us_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".feature.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="crypto.soft.cryptongy.feature.aboutUs.AboutUsActivity" />

        <activity android:name="crypto.soft.cryptongy.feature.donnate.DonnateActivity" />

        <activity android:name="crypto.soft.cryptongy.feature.setting.SettingActivity"></activity>


        <service
            android:name=".feature.alert.getTickerService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".feature.alert.broadCastTicker"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>

            </intent-filter>

        </receiver>
    </application>

</manifest>